<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Connect your bank account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-text color="dark">
          <h1>Upload a bank account to withdraw funds to.</h1>
        </ion-text>
        <ion-button color="primary" (click)="uploadbankaccount()">upload Bank account</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-text color="dark">
          <h3>Current accounts</h3>
        </ion-text>
        <ion-list>
          <ion-item *ngIf="!isBankShown">
            <ion-label> No Bank Added.</ion-label>
          </ion-item>

              <ion-item *ngFor="let bank of banks">
            <ion-label>{{bank?.account_number}}</ion-label>
          </ion-item> 
         
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-text color="dark">
          <h1>Upload a debit / credit card to withdraw funds to.</h1>
        </ion-text>
        <ion-button color="primary" (click)="uploadcreditdebitcard()">upload Credit / Debit card</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-text color="dark">
          <h3>Current accounts</h3>
        </ion-text>
        <ion-list>
          <ion-item *ngIf="!isCardShown">
            <ion-label> No Card Added.</ion-label>
          </ion-item>

        <ion-item *ngFor="let card of cards">
            <ion-label>{{card?.card_number}}</ion-label>
          </ion-item>
       
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>