<ion-header>
  <ion-toolbar>
    <ion-title>Connect your bank account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-grid>
  <ion-row>
    <ion-col>
	<ion-text color="dark">
      <h1>Upload a bank account to withdraw funds to.</h1>
	</ion-text>
	  <ion-button color="primary" href="/uploadbankaccount">upload Bank account</ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
	<ion-text color="dark">
     <h3>Current accounts</h3>
	</ion-text>
	  <ion-list>
  <ion-item>
    <ion-label>Bank account #1</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Bank account #2</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Bank account #3</ion-label>
  </ion-item>
</ion-list>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
	<ion-text color="dark">
      <h1>Upload a debit / credit card to withdraw funds to.</h1>
	</ion-text>
	  <ion-button color="primary" href="/uploadcreditdebitcard">upload Credit / Debit card</ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
	<ion-text color="dark">
     <h3>Current accounts</h3>
	</ion-text> 
	  <ion-list>
  <ion-item>
    <ion-label>Credit / debit card #1</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Credit / debit card #2</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Credit / debit card #3</ion-label>
  </ion-item>
</ion-list>
    </ion-col>
  </ion-row>
 </ion-grid>
</ion-content>
