<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
    <ion-title>Encrypted card</ion-title>
  </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card>
  <ion-card-header>
    <ion-card-subtitle>Encrypted card block</ion-card-subtitle>
    <ion-card-title>Locally stored on phone</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    Direct integration to a contactless supported peripheral. Integrate Directly to a Contactless Reader.
	<br>
<ion-button>Generate an <br>encrypted card</ion-button>
  </ion-card-content>
</ion-card>
</ion-content>
