<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
    <ion-title>Withdraw</ion-title>
  </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-item-divider>
  <ion-label>
    Current available balanace : $0.00
  </ion-label>
</ion-item-divider>

<ion-item-divider color="secondary">
  <ion-label>
    Current balance : $0.00
  </ion-label>
</ion-item-divider>

<ion-list>
  <ion-radio-group>
    <ion-list-header>
      <ion-label>
        <h1>Withdrawal options</h1>
      </ion-label>
    </ion-list-header>

    <ion-item>
      <ion-label>Bank account</ion-label>
      <ion-radio value="cord"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Paypal</ion-label>
      <ion-radio value="duesenberg"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Debit card</ion-label>
      <ion-radio value="hudson"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Check</ion-label>
      <ion-radio value="packard"></ion-radio>
    </ion-item>
  </ion-radio-group>
</ion-list>


</ion-content>
