<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
  </ion-buttons>
    <ion-title>Upload a credit / debit card</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-text color="dark">
          <h3>Upload debit / credit card details</h3>
        </ion-text>
        <!-- List of Input Items -->
        <ion-list>
          <form [formGroup]="cardForm">
            <ion-item>
              <ion-label>Card number</ion-label>
              <ion-input type="number" minLength="12" maxLength="12" formControlName="cardno"></ion-input>
            </ion-item>

            <ion-text *ngIf="(cardForm.get('cardno').hasError('required') &&
            cardForm.get('cardno').touched || cardForm.get('cardno').hasError('minLength'))">
            Enter proper card number
          </ion-text>


            <ion-item>
              <ion-label>Exp date</ion-label>
              <ion-datetime display-format="MM/YYYY" picker-format="MM/YYYY" 
             formControlName="expiry"
             min="2020" max="2050"
             placeholder="e.g 02/2019"></ion-datetime>
            </ion-item>

            <ion-text *ngIf="(cardForm.get('expiry').hasError('required') &&
            cardForm.get('expiry').touched)">
            Enter Select Month
          </ion-text>

           
            <ion-item>
              <ion-label>CVV</ion-label>
              <ion-input type="number" minLength="3" maxLength="3" formControlName="cvv"></ion-input>
            </ion-item>

            <ion-text *ngIf="(cardForm.get('cvv').hasError('required') &&
            cardForm.get('cvv').touched || cardForm.get('cvv').hasError('minLength'))">
            Enter Proper CVV
          </ion-text>
          </form>

        </ion-list>
        <ion-button color="primary"
       
        (click)="uploadbankaccount()">upload credit / debit card</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>