<ion-header>
  <ion-toolbar>
    <ion-title>Upload a credit / debit card</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-grid>
<ion-row>
    <ion-col>
	<ion-text color="dark">
     <h3>Upload debit / credit card details</h3>
	</ion-text>
	  <!-- List of Input Items -->
<ion-list>
  <ion-item>
    <ion-label>Card number</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Exp date</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>CVV</ion-label>
    <ion-input></ion-input>
  </ion-item>
</ion-list>
	  <ion-button color="primary" href="/uploadbankaccount">upload credit / debit card</ion-button>
    </ion-col>
  </ion-row>
 </ion-grid>
</ion-content>
