<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <ion-title>Transactions</ion-title>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--This button should be removed once the "pay" buttons are working properly-->
  <ion-button href="/payment-options" style="background-color:#186cb6">Payment options page</ion-button>


  <ion-segment [(ngModel)]="selectedSegment" (ionChange)="segmentChanged($event)">
    <ion-segment-button value="pending">
      <ion-label>Pending</ion-label>
    </ion-segment-button>
    <ion-segment-button value="completed">
      <ion-label>Completed</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-card  *ngFor="let transaction of historyData"  >
    <ion-card-content>
      <ion-row>
        <ion-col size="6">
          <ion-label color="black">{{transaction?.Order?.OrderItems[0]?.Title}}</ion-label>
          <br>
          <ion-label color="black">{{transaction?.Order?.CreateDate | date:'medium'}}</ion-label>
        </ion-col>

        <ion-col size="6" text-right>
          <ion-label color="black" style="font-weight: 700; font-size: larger;">$ {{transaction?.Order?.OrderItems[0]?.Price}}</ion-label>
        </ion-col>
        <ion-col size="12" text-center *ngIf="selectedSegment === 'pending'">
          <ion-button>Pay Now</ion-button>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>


</ion-content>