<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <ion-title>Transactions</ion-title>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-item-divider>
    <ion-label>
      Current available balanace : $0.00
    </ion-label>
  </ion-item-divider>

  <ion-item-divider color="secondary">
    <ion-label>
      Current balance : $0.00
    </ion-label>
  </ion-item-divider> -->
  <ion-searchbar showCancelButton="always"></ion-searchbar>

  <!-- <ion-item>
    <ion-label position="stacked">From Date</ion-label>
    <ion-datetime picker-format="dd/mm/yyyy"  [(ngModel)]="fromDate" placeholder="Select Date"></ion-datetime>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">To Date</ion-label>
    <ion-datetime  picker-format="dd/mm/yyyy"  [(ngModel)]="toDate" placeholder="To Date"></ion-datetime>
  </ion-item> -->

 <!--  <ion-item>
    <ion-label>From Date:</ion-label>
    <ion-input [(ngModel)]="fromDate"
               placeholder="dd/mm/yyyy"
               type="date"></ion-input>

</ion-item>

<ion-item>
  <ion-label>To Date:  </ion-label>
  <ion-input [(ngModel)]="toDate"
             placeholder="dd/mm/yyyy"
             type="date"></ion-input>

</ion-item>


      <ion-item>
           <ion-label position="stacked">Please select your card*
              <small class="error">*</small>
          </ion-label> 
          <ion-select  (ionChange)="selectedCard($event)"
              placeholder="Please select card*" interface="action-sheet">
              <ion-select-option *ngFor="let card of cards"
                   [value]="card">{{card?.card_number}}
              </ion-select-option>

          </ion-select>
      </ion-item>


  <ion-item>
    <ion-label>Status</ion-label>
    <ion-select interface="action-sheet"  [(ngModel)]="paymentstatus" value="SUCCESS"  placeholder="Select Payment Status">
      <ion-select-option value="SUCCESS">SUCCESS</ion-select-option>
      <ion-select-option value="FAILED">FAILED</ion-select-option>
      <ion-select-option value="SENT_FOR_REFUND">SENT FOR REFUND</ion-select-option>
      <ion-select-option value="REFUNDED">REFUNDED</ion-select-option>
      <ion-select-option value="PARTIALLY_REFUNDED">PARTIALLY REFUNDED</ion-select-option>
      <ion-select-option value="AUTHORIZED">AUTHORIZED</ion-select-option>
      <ion-select-option value="CANCELLED">CANCELLED</ion-select-option>
      <ion-select-option value="EXPIRED">EXPIRED</ion-select-option>
      <ion-select-option value="SETTLED">SETTLED</ion-select-option>
      <ion-select-option value="CHARGED_BACK">CHARGED BACK</ion-select-option>
      <ion-select-option value="INFORMATION_REQUESTED">INFORMATION REQUESTED</ion-select-option>
      <ion-select-option value="INFORMATION_SUPPLIED">INFORMATION SUPPLIED</ion-select-option>
     
    </ion-select>
  </ion-item> 

  <ion-button (click)="getTrancation()" color="secondary" expand="full">Tranactions</ion-button> -->

  <ion-segment [(ngModel)]="selectedSegment" (ionChange)="segmentChanged($event)">
    <ion-segment-button value="pending">
      <ion-label>Pending</ion-label>
    </ion-segment-button>
    <ion-segment-button value="completed">
      <ion-label>Completed</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-card  *ngFor="let transaction of historyData"  >
    <ion-card-content>
      <ion-row>
        <ion-col size="6">
          <ion-label color="black">{{transaction?.Order?.OrderItems[0]?.Title}}</ion-label>
          <br>
          <ion-label color="black">{{transaction?.Order?.CreateDate | date:'medium'}}</ion-label>
        </ion-col>

        <ion-col size="6" text-right>
          <ion-label color="black" style="font-weight: 700; font-size: larger;">$ {{transaction?.Order?.OrderItems[0]?.Price}}</ion-label>
        </ion-col>
        <ion-col size="12" text-center *ngIf="selectedSegment === 'pending'">
          <ion-button>Pay Now</ion-button>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>


</ion-content>