<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
    <ion-title>Transactions</ion-title>
  </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-tabs>
<ion-button href="/login" (click)="clearCache()">Log out</ion-button>
  <ion-tab-bar slot="top">
    <ion-tab-button tab="pending">
      <ion-icon name="refresh"></ion-icon>
      <ion-label>Pending</ion-label>
      <ion-badge>6</ion-badge>
    </ion-tab-button>

    <ion-tab-button tab="completed">
      <ion-icon name="checkmark"></ion-icon>
      <ion-label>Completed</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

</ion-content>
