<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Upload a bank account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-text color="dark">
          <h3>Upload bank acocunt details</h3>
        </ion-text>
        <!-- List of Input Items -->
        <ion-list>
          <form [formGroup]="bankForm">
          <ion-item>
            <ion-label>Routing number</ion-label>
            <ion-input type="number" minLength="12" maxLength="12" formControlName="routing_number"></ion-input>
          </ion-item>

          <ion-text *ngIf="(bankForm.get('routing_number').hasError('required') &&
          bankForm.get('routing_number').touched || bankForm.get('routing_number').hasError('minLength'))">
          Enter enter routing number
        </ion-text>

          <ion-item>
            <ion-label>Account number</ion-label>
            <ion-input type="number" minLength="12" maxLength="12"  formControlName="account_number" ></ion-input>
          </ion-item>

          <ion-text *ngIf="(bankForm.get('account_number').hasError('required') &&
          bankForm.get('account_number').touched || bankForm.get('account_number').hasError('minLength'))">
          Enter enter account number
        </ion-text>
          <ion-item>
            <ion-label>Confirm account number</ion-label>
            <ion-input type="number" formControlName="account_confrim_num" minLength="12" maxLength="12"></ion-input>
          </ion-item>

          <ion-text *ngIf="(bankForm.get('account_confrim_num').hasError('required') &&
          bankForm.get('account_confrim_num').touched || bankForm.get('account_confrim_num').hasError('minLength'))">
          Enter enter account confrim number
        </ion-text>
          </form>

        </ion-list>
        <ion-button color="primary" (click)="uploadbankaccount()">upload Bank account</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>