<ion-header>
  <ion-toolbar>
    <ion-title>Upload a bank account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-grid>
<ion-row>
    <ion-col>
	<ion-text color="dark">
     <h3>Upload bank acocunt details</h3>
	</ion-text>
	  <!-- List of Input Items -->
<ion-list>
  <ion-item>
    <ion-label>Routing number</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Account number</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Confirm account number</ion-label>
    <ion-input></ion-input>
  </ion-item>
</ion-list>
	  <ion-button color="primary" href="/uploadbankaccount">upload Bank account</ion-button>
    </ion-col>
  </ion-row>
 </ion-grid>
</ion-content>
